ul {
    list-style-type: none;
}
.tab ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #10a359;
    height: 52px;
}

.tab li {
    float: left;
}

textarea {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

#makePostsContent {
    position: relative;
    left: 18px;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

a:hover {
    background-color: #21b46f;
}

.tab {
    overflow: hidden;
    border: 1px solid #aaaaaa;
    background-color: #aaaaaa;
    height: 50px;
}

.upperforumtab {
  height: 50px;
}

.Forum {
  height: 50px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
    outline: none;
    box-shadow: none;
}

.tabcontent {
    padding: 6px 12px;
    border: 1px solid #39a389;
    border-top: none;
}

.forumtab {
    overflow: hidden;
    border: 1px solid rgb(156, 156, 156);
    background-color: #d4d4d4;
}

.forumtab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.forumtab button:hover {
    background-color: rgb(182, 182, 182);
}

.forumtab button.active {
    background-color: rgb(158, 158, 158);
    outline: none;
    box-shadow: none;
}

.forumtabcontent {
    padding: 6px 12px;
    border: 1px solid #81818100;
    border-top: none;
}


.forumtab ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b9b9b98a;
    height: 52px;
}

.forumtab li {
    float: left;
}


/* =======================user profile======================= */
.userprofile .column30 {
    flex: 30%;
    padding: 10px;
}

.userprofile .column70 {
    flex: 70%;
    padding: 10px;
}

.userprofile .row {
    display:flex
}

#userprofile:target {
    display:block
}

#userprofile {
    display: none
}

#loginbar:target{
    display: block
}

#loginbar{
    display: none
}

#forum{
    display: none
}

#forum:target{
    display: block
}

#home{
    display: none
}

#home:target{
    display: block
}

#about{
    display: none
}

#about:target{
    display: block
}

.forumRegister {
    display: none;
}

.forumRegister:target {
    display: block;
}


* { box-sizing: border-box; margin: 0; padding: 0; }
body { margin: 1rem; }
h1 { margin: 2rem 0 0; }


.makePosts { display: flex; }
.makePosts .stretch { flex: 1; }
.makePosts div input { padding: .5em 1em; width: 100%; }

#post{
    background-color: grey; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.postFoldButton:hover{
    content:url("https://res.cloudinary.com/dfpktpjp8/image/upload/v1522618749/up-blue.png")
}

.postUnfoldButton:hover{
    content:url("https://res.cloudinary.com/dfpktpjp8/image/upload/v1522618749/down-blue.png")
}

#post:hover {
    background-color: #f1c01c;
}


@media (max-width: 650px) {
	.tab {
		padding: .35em;
        display: inline;

	}

	.tab ul {
		margin: 0;
		display: inline;
		padding-right: .15em;
	}

	.tab ul li {
		display: inline-block;
		list-style: none;
		padding: .36em 0.9375em;
    }
    .tab-right a {
        align-content: left;
    }

    .forumtab {
        padding: .35em;
        display: inline;
    }

    .forumtab ul {
        margin: 0;
		display: inline;
		padding-right: .15em;
    }

    .forumtab ul li {
        display: inline-block;
		list-style: none;
		padding: .36em 0.9375em;
    }
}